@import 'framework';

$dark-1: #1f1f1f;
$dark-2: #191919;
$dark-3: #111111;
$dark-4: #101010;
$dark-5: #111111;
$shadow-dark: #111111;
$text-on-dark: #e4e4e4;
$stop-color-dark-1: #8079f0;
$stop-color-dark-2: #82abf2;

$light-1: #e4e4e4;
$light-2: #e8e8e8;
$light-3: #eeeeee;
$light-4: #efefef;
$light-5: #f5f5f5;
$shadow-light: #8a8a8a;
$text-on-light: #1f1f1f;
$stop-color-light-1: #f84f63;
$stop-color-light-2: #f8792b;
///////////////////////////////

html {
  --color-body: white;
  --border-inner: #{$light-1};
  --border-mid: #{$light-2};
  --border-outer: #{$light-3};
  --bottom-line: #{$light-1};
  --top-line: #{$light-1};
  --speaker: #{$light-4};
  --camera: #{$light-4};
  --shadow: #{$shadow-light};
  --text: #{$text-on-light};
  .stop-1 {
    stop-color: $stop-color-light-1;
  }
  .stop-2 {
    stop-color: $stop-color-light-2;
  }
  /////////////////////
  & * {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  /////////////////////

  body {
    height: 100vh;
    background: var(--color-body);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .iphone {
    position: relative;
    width: 270px;
    height: 585px;
    background-color: $light-5;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px var(--border-inner),
      0px 0px 0px 13px var(--border-mid), 0px 0px 0px 20px var(--border-outer),
      0px 20px 40px var(--shadow);
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &:after {
      bottom: 7px;
      width: 105px;
      height: 4px;
      background-color: var(--bottom-line);
      border-radius: 10px;
    }

    &:before {
      top: 0px;
      width: 56%;
      height: 30px;
      background-color: var(--top-line);
      border-radius: 0px 0px 40px 40px;
    }

    .speaker,
    .camera {
      position: absolute;
      display: block;
      color: transparent;
      z-index: 3;
    }

    .speaker {
      top: 0px;
      left: 50%;
      transform: translate(-50%, 6px);
      height: 8px;
      width: 20%;
      background-color: var(--speaker);
      border-radius: 8px;
      box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 1);
    }

    .camera {
      left: 10%;
      top: 0px;
      transform: translate(150px, 4px);
      width: 12px;
      height: 12px;
      background-color: var(--camera);
      border-radius: 12px;
      box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 1);

      &::after {
        content: '';
        position: absolute;
        background-color: #2d4d76;
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        top: 3px;
        left: 3px;
        display: block;
        border-radius: 4px;
        box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
      }
    }

    .moon {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -20%) rotate(-45deg);
      transition: all 1s ease-out;
      z-index: 2;

      svg path {
        transition: all 0.5s ease-out;
      }
    }

    .text {
      // background: rgb(255, 226, 226);
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -60%);
      width: 100%;
      padding: 20px;
      text-align: center;
      color: var(--text);
      z-index: 2;
      user-select: none;
      .title {
        font-size: 20px;
        font-weight: 900;
      }
    }

    .trigger {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      background: $dark-5;
      background-image: url(../img/moon.svg);
      background-size: 28px;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -80%);
      z-index: 1;
      transform-style: preserve-3d;
      transition: all 0.5s ease-out;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $dark-5;
        transform: translateZ(-1px);
        transition: all 0.5s ease-out;
      }

      &:hover::after {
        transform: translateZ(-1px) scale(1.5);
      }
    }
    .overlay {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $dark-5;
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -80%);
      transition: all 0.75s ease-out;
    }
  }

  .circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: -300px;
    background: linear-gradient(
      90deg,
      $stop-color-light-1 0%,
      $stop-color-light-2 100%
    );
    box-shadow: 0px 8px 16px rgba(248, 121, 43, 0.25);
  }

  &.dark {
    --color-body: #{$dark-1};
    --border-inner: #{$dark-1};
    --border-mid: #{$dark-2};
    --border-outer: #{$dark-3};
    --bottom-line: #{$dark-1};
    --top-line: #{$dark-1};
    --speaker: #{$dark-4};
    --camera: #{$dark-4};
    --shadow: #{$shadow-dark};
    --text: #{$text-on-dark};
    .stop-1 {
      stop-color: $stop-color-dark-1;
    }
    .stop-2 {
      stop-color: $stop-color-dark-2;
    }

    /////////////////////

    /////////////////////
    .iphone {
      animation: toBlack 0.7s both;
    }
    .speaker {
      box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
    }
    .camera {
      box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    }
    .moon {
      svg path {
        d: path(
          'M38.5 80C38.5 124.183 80 163 80 160C35.8172 160 0 124.183 0 80C0 35.8172 35.8172 0 80 0C80 0 38.5 35.8172 38.5 80Z'
        );
      }
    }
    .trigger {
      background-image: url(../img/sun.svg);
    }
    .overlay {
      transform: translate(-50%, -80%) scale(20);
    }
    .circle {
      background: linear-gradient(
        90deg,
        $stop-color-dark-1 0%,
        $stop-color-dark-2 100%
      );
      box-shadow: 0px 8px 16px rgba(131, 173, 243, 0.25);
    }
  }
}

@keyframes toBlack {
  0% {
    background-color: $light-5;
  }
  90% {
    background-color: $light-5;
  }
  100% {
    background-color: $dark-5;
  }
}
